<configuration>
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--&lt;!&ndash; encoder 默认配置为PatternLayoutEncoder &ndash;&gt;-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %level [%thread] [%file:%line] - %msg %n</Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/sync.log.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <!--&lt;!&ndash; logback为java中的包 &ndash;&gt;-->
    <!--<logger name="ch.qos.logback.demo"/>-->
    <!--&lt;!&ndash;logback.LogbackDemo：类的全路径 &ndash;&gt;-->
    <!--<logger name="ch.qos.logback.demo.Demo01" level="INFO" additivity="false">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <root level="ERROR">
        <appender-ref ref="R"/>
    </root>
</configuration>